.icons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .icons svg {
    margin-left: 10px;
    margin-right: 10px;
  }
  .icons svg:hover {
    cursor: pointer;
  }